<h1>List of recent posts from a user</h1>
<%= render partial: "users/user", object: @user %>
<% @posts.each do |post| %>
  <%= render partial: "post", object: post %>
  <%= render partial: "comments/comment", collection: post.recent_comments %>
  <%= link_to "Post details", [post.user, post] %>
<% end %>
</br>
<button>Pagination</button>
<div>
  <%= link_to "Back to user", user_path(@user.id) %> |
  <span>Edit this post</span> |
  <span>Destroy this post</span>
</div>