<h1>List of recent posts from a user</h1>
<%= render partial: "users/user", object: @user %>
<% @posts.each do |post| %>
  <%= render partial: "post", object: post %>
  <%= render partial: "comments/comment", collection: post.recent_comments %>
  <%= link_to "Post details", [post.user, post] %> |
  <span>Edit this post</span>
  <%= button_to "| Delete this post", user_post_path(id: post.id), method: :delete if can? :destroy, post %>
<% end %>
</br>
<button>Pagination</button>
<div>
  <%= link_to "New Post", new_user_post_path if (can? :create, Post) && (@user.id == current_user.id) %>
</div>
<div>
  <%= link_to "Back to user info", user_path(@user.id) %>
</div>
