<h1>Post details</h1>
<div>
  <h4><%= @post.title %> by <%= @post.user.name %></h4>
  <p><%= @post.text %></p>
  <span>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></span>
</div>
<%= render partial: "comments/comment", collection: @comments %>
</br>
<%= link_to "Create new comment", new_user_post_comment_path(@user.id, @post.id) %>
<%= form_with url: user_post_likes_path(@user.id, @post.id) do |f| %>
  <%= f.submit "Like" %>
<% end %>
<div>
  <%= link_to "Back to posts", [@user, :posts] %>
</div>
